@import "../vars";

$color: #e60028;

.close span{
  font-size: 3rem;
}

.form{
  width: 30rem;
  margin: 1rem auto;
  text-align: center;
  padding-bottom: 7rem;

  .bottom-links{
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    line-height: 15px;
    display: block;

    a {
      text-decoration: none;
      color: #666;

      &:hover {
        color: $color;
      }
    }
  }

  input,
  button,
  label{
    display: block;
    width: 100%;
    border: 0;
    box-sizing: border-box;
  }

  input[type=submit]{
    background-color: $color;
    cursor: pointer;
    height: 68px;
    font-size: 18px;
    color: #fff;
    border-radius: 0 0 5px 5px;
    transition: all 0.3s;

    &:hover{
      opacity: 0.8
    }
  }

  label {
    position: relative;

    input[type=text],
    input[type=password],
    input[type=number] {
      background-color: #fff;
      height: 69px;
      padding: 0 20px 0 20px;
      border: 1px solid #e5e5e5;
      border-bottom: 0;
      font-size: 15px;
      color: #666;
      position: relative;
    }
    &:first-child input {
      border-radius: 5px 5px 0 0;
    }

    &::before {
      width: 20px;
      margin-left: 20px;
      font-family: FontAwesome;
      font-size: 20px;
      color: #dadada;
      text-align: center;
      line-height: 68px;
      vertical-align: middle;
      position: absolute;
      top: 1px;
      left: 0;
      z-index: 5;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }


    &.username::before{
      content: '\f007'
    }

    &.password::before{
      content: '\f023'
    }
  }
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}

table {
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  margin:20px auto;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

table th {
  padding: 15px 25px 15px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  color: #fff;
  background: #000;
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table td {
  vertical-align: middle;
  padding:10px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  &:first-child{
    text-align: center;
    padding: 10px 0;
  }
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);

  .tab {
    widht: 300px;
    height: 200px;
  }
}

.classic-form{
  input, select{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 1.4rem Arial, Helvetica, sans-serif;
  }

  input[type=submit]{
    width: 60%;
    margin: 0 auto 3rem auto;
    display: block;
    background-color: #e60028;
    color: #fff;
    cursor: pointer;

    &:hover{
      background-color: lighten(#e60028, 5);
    }
  }
}

.arrow{
  font-size: 3rem;
  position: relative;
  left: 15px;
  bottom: 11px;
}

.modal .modal-dialog .modal-content .modal-header .modal-title{
  font-size: 2rem !important;
  text-align: center;
}

.fa-arrow-up{
  color: $status-ok;
}

.fa-arrow-down{
  color: #e60028;
}

.error {
  font-size: 14px;
  color: $status-err;
  margin-top: 10px;
  transiton: all 0.3s ease;
}