.friends{
  max-width: 70%;
  margin: 1rem auto;
  padding: 1rem 3rem;
  background-color: #fff;
  box-shadow: 0 19px 50px rgba(0,0,0,0.05), 0 20px 29px rgba(0,0,0,0.11);

  .thumbnail{
    border-radius: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .title{
    font-family: Helvetica, Arial, sans-serif;
    margin: 1.5rem 0 2.5rem 0;
    font-size: 2.6rem;
    font-weight: bold;
  }

  .small-title{
    font-size: 2rem;
  }

  .friend{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;


    svg{
      cursor: pointer;
      max-width: 30px;
      max-height: 25px;
    }
  }

  .friend img{
    border-radius: 100%;
  }

  .friend span{
    margin-left: auto;
    outline: 0;
    font-size: 2.5rem;
    cursor: pointer;
    color: #e60028;
    text-shadow: 0 -1px 0 #900;

    &:hover{
      color: darken(#e60028, 5);
    }
  }

  .friend p{
    font-size: 1.8rem;
    margin-left: 3rem;
  }
}