$search-border-radius: 0.2rem;

.dashboard-header {
  background-color: #fff;
  display: flex;
  padding-top: 4rem;
  width: 100%;
  border-bottom: 1px solid #cecece;
  height: 250px;
  background: url('../assets/friends.jpeg');
  background-size: cover;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  box-sizing: border-box;
  position: relative;

  .content{
    z-index: 100;
    width: 100%;

    svg{
      max-width: 200px;
    }
  }


  &::before {
    content:"";
    display: block;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(50, 50, 50, .8);
  }


  a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    &:hover{
      color: #666;
    }
  }

  .separator{
    padding: 0 1rem;
    font-weight: bold;
  }

  .logo {
    margin-left: 10%;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .logout{
    color: #fff;
    margin-left: auto;
    margin-right: 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    float: right;
  }
}